:root {
    background-color: aquamarine;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 5rem;
}

h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}


.hud-main-text {
    text-align: center;
}

#result {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 2rem;
    font-weight: 600;
    margin-top: -3rem;
}

a {
    text-decoration: none;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    width: 10.2rem;
    height: 3.5rem;
    padding-top: 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: coral;
    border-radius: 2rem;

}

